<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
    <title>Top Twitch platforms</title>
</head>
<body>
<div class="App container-fluid" style="text-align: center">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Twitch Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Top Popular Channel </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/top-streams">Top Live Streams</a>
                </li>
                <li class="nav-item">
                    <img style="height: 50px" src="http://img1.liveinternet.ru/images/attach/c/7/94/482/94482153_15.png"
                         alt="alt">

                </li>
                <li class="nav-item">
                    <img style="height: 50px" src="http://img1.liveinternet.ru/images/attach/c/7/94/482/94482153_15.png"
                         alt="alt">

                </li>
                <li class="nav-item">
                    <img style="height: 50px" src="http://img1.liveinternet.ru/images/attach/c/7/94/482/94482153_15.png"
                         alt="alt">

                </li>
                <li class="nav-item">
                    <img style="height: 50px" src="http://img1.liveinternet.ru/images/attach/c/7/94/482/94482153_15.png"
                         alt="alt">

                </li>
                <li class="nav-item">
                    <img style="height: 50px" src="http://img1.liveinternet.ru/images/attach/c/7/94/482/94482153_15.png"
                         alt="alt">

                </li>
                <li class="nav-item">
                    <img style="height: 50px" src="http://img1.liveinternet.ru/images/attach/c/7/94/482/94482153_15.png"
                         alt="alt">

                </li>
            </ul>


            <form class="form-inline my-2 my-lg-0" action="/search">
                <input style="width: 200px" class="form-control mr-sm-2" type="search" name="name" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"
                                                                                      aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </nav>
    {{{body}}}
</div>
</body>
</html>
